{% extends "layout.html" %}

{% block body %}

<p>
		{% if allowed_user %}
		<form action="/_source/c" method="post">
	
			{% if msg %}<p><i>{{ msg }}</i></p>{% endif %}
	
			Choose your URL: <tt>{{ home_url }}</tt><input type="text" size="20" name="scriptname" value="{{scriptname}}" />
			<input type="submit" value="Create" />
		</form>
		{% else %}
		<!-- To get an account and create your own scripts, email niryariv@gmail.com -->
		{% endif %}
</p>

<div class="clear"></div>

{% if allowed_user %}
	<div id="my-scripts" style="display: inline; *margin-right:-1px; float: left; width: 40%">	
		<p>
			<tt><u>Your scripts</u></tt><br />
			{% for s in my_scripts %}
				<tt><b><a href="/_source/{{ s.name }}">{{ s.name }}</a></b>&nbsp;:&nbsp;{{ s.description }}</tt><br/>
			{% endfor %}
		</p>
	</div>
{% endif %}

<div id="recent-scripts" style="display: inline; *margin-right:-1px; float: left; width: 40%">
	<p>
		<tt><u>Recently updated scripts</u></tt><br />
		{% for s in script_list %}
			<tt><b><a href="/_source/{{ s.name }}">{{ s.name }}</a></b>&nbsp;:&nbsp;{{ s.description }}</tt><br/>
		{% endfor %}
	{% endblock %}
	</p>
</div>
